<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAA</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/js/script.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>

<body style=" background: linear-gradient(90deg, #91bff0, #364ee7);">

    <!-- header section starts  -->
    <header class="header">
     
        
      <a class="logo">
         <img src="/Image/psgLogo.png" alt="college logo" style="width: 150px; height: 150px;" />
         <div class="collage-name">DEPARTMENT OF CAA</div>
      </a>
   
      <nav class="navbar">
          <div id="close-navbar" class="close-icon"><img src="/Image/close-icon.gif" width="50" /></div>

          <ul class="navbar-links">
              <li class="navbar-dropdown">
                <a href="/">Home</a>
              </li>
              <li class="navbar-dropdown">
                  <a href="/allEvents">Events</a>
              </li>
              <li class="navbar-dropdown">
                  <a href="/achievements">Student Achievements</a>
              </li>
              <li class="navbar-dropdown">
                  <a href="/contact">Contact Us</a>
              </li>
              <li id="user-account"></li>
          </ul>
      </nav>

      <div class="icons">
         <div id="account-btn" class="header-icon"><img src="/Image/avatar-icon.svg" alt="user-icon" />
          <a href="/admin/adminlogin">
           <img src="/Image/avatar-icon-hover.gif" alt="user-icon" width="10" class="header-icon-hover" /></a>
           
         </div>
      </div>
   
   </header>
   

   <section>
    
    <div class="paralex-body">
     <div class="paralex-head paralex-images">
       <div class="paralex-text">
        <div class="userdetails">
          
         </div>
         <h1>WELCOME TO COMPUTER APPLICATIONS DEPARTMENT </h1>
         <!-- <img src="/public/Image/IMG20241213081006.heic" alt="user-icon" width="10" class="header-icon-hover" /> -->
         <!-- <img src="/image/footer-img2.jpg" alt="user-icon" width="10" class="header-icon-hover" /> -->
         <p>Innovating Together, Creating Tomorrow’s Digital World</p>
        </div>
     </div>
   </div>
  </section>

   <section>
    <div class="counter count-section">
       <div class="count-container">
          <div class="counter-box">
             <h2>
                <span><%= admissionsEveryYear %></span>
             </h2>
             <p>Admission Every Year</p>
          </div>

        <div class="counter-box">
         <h2>
            <span><%= placementEveryYear %></span>
         </h2>
         <p>Placement Every Year</p>
      </div>

      <div class="counter-box">
         <h2>
            <span><%= passingRate %></span>
         </h2>
         <p>Passsing rate / Year</p>
      </div>
    </div>
    </div>
 </section>

<section class="about-section-head" id="about-section-id">
   <div class="about-container">
       <div class="row">
         <div class="section-title" style="width: 1300px;">
            <h2 style="font-size: 36px; margin-bottom: 30px;"> About <span style="color: #f93">DEPT OF CA</span> </h2>         
           </div>
           
           <div class="about-left">
                <h4>DEPARTMENT OF COMPUTER APPLICATIONS</h4>
              <p style="color: aliceblue;">The Master of Computer Applications (MCA) programme was a unique programme envisioned by the Department of Electronics (DOE), Government of India in the 1980s, anticipating the rise of India as an Information Technology superpower and the impending manpower requirements that would be needed to handle the global and in-house demands.</p>
                <P style="color: aliceblue;">The 2-year MCA programme was well conceived to target and train graduates from the Sciences, Arts and Humanities stream in the discipline of Computer Science and Applications as prospective IT workers.</P> 

                   <div class="about-director">
                      <div>
                          <h4 style="font-size: 22px;">Dr. A. CHITRA</h4>
                          <h4>(HOD)</h4>
                      </div>
                      <button class="btn"><a href="/contact">Explore more</a></button>       
                   </div>         
             </div> 
       </div>
   </div>
</section>

<section class="about-bottom">
   <div class="about-bottom-container">
        <div class="section-title">
          <h2 style="font-size: 34px;"> Why choose <span style="color: #f93">US?</span> </h2>
          <p>Department of Computer Applications aspires to produce competent Software Professionals, Entrepreneurs, and Leaders to serve the needs of society.</p>
        </div>
        
        <div class="row">
         <div class="bottom-box">
              <div class="bottom-box-img">
                <img src="/Image/save-money.gif" alt=""/>
              </div>
              <h4>Vision</h4>
              <p>Department of Computer Applications aspires to produce competent Software Professionals, Entrepreneurs, and Leaders to serve the needs of society.</p>         
         </div>

         <div class="bottom-box">
              <div class="bottom-box-img">
                <img src="/Image/education.gif" alt=""/>
              </div>
              <h4>Quality Education</h4>
              <p>Experienced and motivated faculty using latest techniques in teaching as well as self development.</p>
            </div>

            <div class="bottom-box">
              <div class="bottom-box-img">
                <img src="/Image/Placement job.gif" alt=""/>
              </div>
              <h4> Placement</h4>
              <p>Our Training and placement cell are facilitate students to choose their career with variety of choice for growth & success. </p>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>Contact Us</h3>
            <p>PSG College of Technology</p>
            <p>Department of CAA</p>
            <p>Avinashi Road</p>
            <p>Peelamedu, Coimbatore</p>
            <p>Phone: 0422-2572177</p>
        </div>
        <div class="footer-column">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Student Achievements</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; Department of Computer Applications. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
